.csd__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.csd__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.csd__brand a {
    margin: 2rem;
}

@media screen and (max-width: 550px) {
    .csd__brand {
        display: grid;
    }
}