.csd__team {
    display: flex;
    flex-direction: column;    
}

.csd__team-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.csd__team-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.csd__team-container {
    display: flex;
    flex-direction: column;
}

.csd__team-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.csd__team-container_groupB {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .csd__team-container {
        flex-direction: column-reverse;
    }


    .csd__team-container_groupA {
        margin: 2rem 0;
    }

    .csd__team-container_groupA .csd__team-container_article  {
       width: 48%;
    }

    .csd__team-container_groupA .csd__team-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .csd__team-container_groupB {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .csd__team-container_groupA .csd__team-container_article  {
       width: 100%;
    }

    .csd__team-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .csd__team-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}