@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #964ce7 1.84%, #842070 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #964ce7 -13.86%, #b82388 99.55%);
  
  --color-bg: #e5e9f0;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #03193b;
  --color-subtext: #29107c;
}