@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #19529c 9.84%, #000b3d81 81.67%);
  --gradient-textfoot : linear-gradient(89.97deg, #f5f5f5 9.84%, #ffffffaf 81.67%);
  --gradient-bar: linear-gradient(89.97deg, #19529c 1.84%, #000b3d81 102.67%);
  
  --color-bg: #f3f0f0e5;
  --color-footer : linear-gradient(89.97deg, #1f3d75d3 5.84%, #0b3a58ef 80.67%);
  --color-blog: #0d2133;
  --color-text: #03193b;
  --color-subtext: #1c0e66;
}